
.rows{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url('https://cdn.corporate.walmart.com/dims4/WMT/c9083b8/2147483647/strip/true/crop/600x250+0+0/resize/600x250!/quality/90/?url=https%3A%2F%2Fcdn.corporate.walmart.com%2Fe6%2F20%2F7e2ae81f43d9aa695f350c792073%2Fcustomers-in-produce.gif');
    background-size: cover;
    padding-bottom: 5%;
    border-radius: 10px;
    padding: 200px;
}

.alt{
    width: 420px;
    height: 370px;
    border-radius: 10px;
}

.col-3{
    flex-basis: 40%;
    min-width: 200px;
    margin-left: 150px;
}

.image{
    max-width: 700px;
    padding: 60px 0px;
    margin-right: 100px;
}
button{
    margin-left: 100px;
    border-radius: 25px;
    padding: 12px;
    font-size: large;
    font-weight: 550;
}

.col-3 h1{
    font-size: 2.9rem;
    line-height: 70px;
    color: orangered;
}



.items{
    margin: 70px 0px;
}

.col-md-3{
    flex-basis: 15%;
    min-width: 250;
    margin-top: 30px;
    padding: 10px;
    margin-left: 100px;
}

.img{
    width: 100%;
}

.img:hover{
    transition: 0.4s ease-in-out;
    transform: scale(1.1);
}

h5{
    font-weight: lighter;
}


.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.feature{
    background-color: rgb(233, 232, 232);
}


.competition{
    margin-top: 20px;
}

.louis{
    border-radius: 20px;
    margin-left: 80px;
    width: 560px;
}

.para{
    text-align: center;
    margin-top: 50px;
}

.competition{
    background: radial-gradient(#fff, #ffd6d6, #d6d6ff);

}


/* .brands{
    background-color: black;
} */

.brands img{
    width: 175px;
    padding-bottom: 55px;
}

.brand .title{
    color: #fff;
}

.footer{
    background-color: #000;
    color: #8a8a8a;
    padding: 40px 0px 20px;
    font-size: 14px;
}

 .footer h3{
     color: #fff;
 }

 .col-md-3{
     min-width: 150px;

 }

 .first{
     flex-basis: 15%;
 }

 .another{
     flex: 1;
     text-align: center;
     width: 180px;
     margin-bottom: 20px;
 }

 .second{
     flex-basis: 12%;
     text-align: center;
 }

 ul{
     list-style-type: none;
 }

 .app-logo{
     margin-top: 20px;
 }

 .app-logo img{
     width: 170px;
     height: 60px;
 }

 .now{
     padding-bottom: 60px;
 }